@model BMS_dotnet_WebApplication.Models.LibraryVM.AdminBooksCategoryVM

@{
    ViewData["Title"] = "Books Category";
}

<h1>Books Category</h1>

@using (Html.BeginForm("AddCategory", "Library", FormMethod.Post, new { @id = "partialform" }))
{
    
        <div class="form-group">
            @Html.LabelFor(m => m.BooksCategory.Name)
            @Html.TextBoxFor(m => m.BooksCategory.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.BooksCategory.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BooksCategory.Comment)
            @Html.TextBoxFor(m => m.BooksCategory.Comment, new { @class = "form-control" })
            
        </div>
        <div class="form-group ">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>

        @*</div>
            <div class="form-group row container">*@
        <div class="col-sm-12">
            <ul>
                <li>
                    Books Categories
                    <ul>
                        @foreach (var category in Model.ExistingCategories)
                        {
                            <li>
                                @category.Name -- @category.Comment
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
        <div class="form-group">
            @Html.ActionLink("Save", "Save", "Library", null, new { @class = "btn btn-success" })
        </div>
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
