@model BMS_dotnet_WebApplication.Models.LibraryVM.RegisterBookVM
@{
    ViewData["Title"] = "Register Book";
}

<h1>Register Book</h1>

@using (Html.BeginForm("AddBooks", "Library", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.SelectedCategory)
        @Html.DropDownListFor(m => m.SelectedCategory, Model.Categories, "Select Category", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SelectedCategory)
        @Html.HiddenFor(m => m.SelectedCategoryText)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Barcode)
        @Html.TextBoxFor(m => m.Barcode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Barcode)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NumberOfCopies)
        @Html.TextBoxFor(m => m.NumberOfCopies, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NumberOfCopies)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Publisher)
        @Html.TextBoxFor(m => m.Publisher, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Location)
        @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Comments)
        @Html.TextBoxFor(m => m.Comments, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>

    @if (Model.NewsBooks.Any())
    {
        @foreach (var book in Model.NewsBooks)
        {
            <div class="float-left">
                @Html.Partial("_BookCard", book)
            </div>
        }

        <div class="form-group marginT32">
            @Html.ActionLink("Save", "SaveBook", "Library", null, new { @class = "btn btn-success" })
        </div>
    }
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $("#SelectedCategory").on("change",
            function () {
                $("#SelectedCategoryText").val($(this).find("option:selected").text());
            });
    </script>

}