@model BMS_dotnet_WebApplication.Models.LibraryVM.SearchForBookVM
@{
    ViewData["Title"] = "Search Book";
}

<h1>Search for Books</h1>

@using (Html.BeginForm("SearchBook", "Library", FormMethod.Post))
{

    <div class="form-group">
        @Html.LabelFor(m => m.CategoryName)
        @Html.DropDownListFor(m => m.Categories, Model.Categories, "Select Category", new { @class = "form-control" })
       
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Barcode)
        @Html.TextBoxFor(m => m.Barcode, new { @class = "form-control" })
        @Html.HiddenFor(m => m.CategoryName)
           
       
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
       
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>


    @if (Model.SearchedResult !=null && Model.SearchedResult.Any())
    {
        foreach (var book in Model.SearchedResult)
        {

            <div class="float-left">
                @Html.Partial("_BookCard", book)
            </div>


        }
       
    }


    <div class="form-group" id="divBookSelected">
        <a class="btn btn-success" asp-area="" asp-controller="Library" asp-action="LendingRequest">Books Selected <span class="badge badge-light booksCount">0</span></a>
    </div>
    

@section Scripts
{
   
    <script>
        $("#Categories").on("change", function () {
            $("#CategoryName").val($(this).find("option:selected").text());
        });
    </script>

}

}