@using BMS_dotnet_WebApplication.Models.Shared
@model BMS_dotnet_WebApplication.Models.MagazineVM.CurrentEditionVM


@{
    ViewData["Title"] = "CurrentEdition";
    var currentHeading = string.Empty;
   
    var parentFolder = "magazine";
    var image = $"{"http://d2nxbo7tljjo4u.cloudfront.net/"}{parentFolder}/{Model.Magazine.FolderName}/{Model.Magazine.Image}";
    var contentBody = $"{Model.Magazine.Name}";
    var downloadFilePath = "";
}

@section Meta
{
    <meta property="og:type" content="article" />
    <meta property="og:title" name="title" content="@contentBody" />
    <meta property="og:description" name="description" content="@contentBody" />
    <meta property="og:image" name="image" content="@image" />

}

<script>
    @*$(document).ready(function () {
        $('meta[name=title]').attr('content','@Model.Content.Heading ');
        $('meta[name=url]').attr('content',' @url');
        $('meta[name=description]').attr('content', '@Model.ShortBody');
        $('meta[name=image]').attr('content', '@image');$
    });*@
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=239242753967982";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>


<h1 style="font-family: fangsong">@Model.Magazine.Name</h1>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-magazine-menu  mb-3" style="padding-left: 0px">
    <div class="container" style="padding-left: 0px">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".magazie-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse magazie-collapse">
            <ul class="navbar-nav flex-grow-1">
                @foreach (var category in Model.ContentCategories)
                {
                    <li class="nav-item magazine-nav-item">
                        <a class="nav-link" href="#@category.CategoryId">
                            @category.Name
                        </a>
                    </li>
                }
                <li class="nav-item magazine-nav-item">
                    <a class="nav-link" href="#feedback">
                        Leave feedback
                    </a>
                </li>

                @if (Model.IsAdmin)
                {
                    <li class="nav-item magazine-nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Magazine" asp-action="Index">Magazine Manager</a>
                    </li>
                }

            </ul>
        </div>
    </div>
</nav>
@*<div class="wallpaper">
        <img src="@Url.Action("GetImage", new {filename = $"{Model.Magazine.FolderName}/{Model.Magazine.Image}", section = "magazine"})" style="width: 80%; margin-left: 20%;" alt="...">

    </div>*@

<div class="form-group ">
    @foreach (var category in Model.ContentCategories)
    {
        <div class="row NewNewsFeedSeperator" id="@category.CategoryId">
            <img src="@Url.Action("GetImage", new {filename =  @category.IconImage, section = "magazinecategoryicon"})" alt=" @category.Name">

        </div>
        @*<div class="bg-transparent" style="width: 100%; height: 40px"></div>*@
        <div class="content-group">

            @foreach (var content in Model.Magazine.Contents.Where(c => c.Category.CategoryId == category.CategoryId))
            {
                <div class="row float-left content-card">
                    @Html.Partial("_MagazineCard", content)
                </div>
            }
        </div>
    }
</div>


<div class="row NewNewsFeedSeperator" id="feedback">
    <img src="~/imgs/feedback.png" />

</div>
<div class="form-group ">
    @Html.Partial("_Feedback", new FeedbackModel { FeedbackOn = @Model.Magazine.Name })

</div>

<div id="fb-root"></div>




@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

