@model BMS_dotnet_WebApplication.Models.MagazineVM.ContentDetailsVM


@{
    var baseurl = "http://d2nxbo7tljjo4u.cloudfront.net/magazine/";
    var url = $"http://www.magazine.britanniaislamiccentre.org/Magazine/Details/{Model.Content.ContentId}?mid={Model.Content.MagazineId}";
    var parentFolder = "magazine";
    var image = $"{"http://d2nxbo7tljjo4u.cloudfront.net/"}{parentFolder}/{Model.Content.FolderName}/{Model.Content.MainImage}";
    var contentBody = Model.Content.Body.Length > 99 ? Model.Content.Body.Substring(0, 99) : Model.Content.Body;
    var downloadFilePath = "";
}

@section Meta
{
    <meta property="og:type" content="article" />
    <meta property="og:title" name="title" content="@Model.Content.Heading" />
    <meta property="og:description" name="description" content="@Model.ShortBody" />
    <meta property="og:image" name="image" content="@image" />

}

<script>
    @*$(document).ready(function () {
        $('meta[name=title]').attr('content','@Model.Content.Heading ');
        $('meta[name=url]').attr('content',' @url');
        $('meta[name=description]').attr('content', '@Model.ShortBody');
        $('meta[name=image]').attr('content', '@image');$
    });*@
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=239242753967982";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-magazine mb-3">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".content-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse content-collapse overflow-auto">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">

                    <a href='@Url.Action("CurrentEdition", "Magazine",new{Id = Model.Content.MagazineId})'>
                        <div class="card-Magazine-mini">
                            <img style="max-height: 70px" src="@Url.Action("GetImage", new {filename = $"{Model.Content.FolderName}/{Model.MagazineCoverImage}", section = "magazine"})" alt="Back to Magazine">
                        </div>
                    </a>
                </li>
                @foreach (var content in Model.OtherContents)
                {
                    <li class="nav-item">
                        @Html.Partial("_miniContentCart", content)
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

<div class="content-group row">

    <div class="card no-border">
        <div class="margin-Top-10">
            <img class="center" src="@Url.Action("GetImage", new {filename = $"{Model.Content.FolderName}/{Model.Content.MainImage}", section = "magazine"})" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(m => m.Content.Heading)</h5>
            <div class="ql-container">
                <div class="card-text multiline ql-editor">
                    @Html.Raw(Model.Content.Body)
                </div>
            </div>
            @if (Model.Content.YouTubLink?.Trim().Length > 1)
            {
                <div class="margin-15">
                    <iframe width="100%" src=@Model.Content.YouTubLink class="youtubIframe" sandbox="allow-forms allow-scripts allow-pointer-lock allow-same-origin allow-top-navigation"></iframe>

                </div>
            }

            @Html.HiddenFor(m => m.Content.FolderName)
        </div>

        <div>
            @if (!string.IsNullOrWhiteSpace(Model.Content.SubImage1))
            {
                downloadFilePath = $"{baseurl}{Model.Content.FolderName}/{Model.Content.SubImage1}";
                <a href="@downloadFilePath" download="download" target="_blank"> Download-1</a> <br />
            }

            @if (!string.IsNullOrWhiteSpace(Model.Content.SubImage2))
            {
                downloadFilePath = $"{baseurl}{Model.Content.FolderName}/{Model.Content.SubImage2}";
                <a href="@downloadFilePath" download="download" target="_blank"> Download-2</a> <br />
            }

            @if (!string.IsNullOrWhiteSpace(Model.Content.SubImage3))
            {
                downloadFilePath = $"{baseurl}{Model.Content.FolderName}/{Model.Content.SubImage3}";
                <a href="@downloadFilePath" download="download" target="_blank"> Download-3</a> <br />
            }

            @if (!string.IsNullOrWhiteSpace(Model.Content.SubImage4))
            {
                downloadFilePath = $"{baseurl}{Model.Content.FolderName}/{Model.Content.SubImage4}";
                <a href="@downloadFilePath" download="download" target="_blank"> Download-4</a> <br />
            }

            @if (!string.IsNullOrWhiteSpace(Model.Content.SubImage5))
            {
                downloadFilePath = $"{baseurl}{Model.Content.FolderName}/{Model.Content.SubImage5}";
                <a href="@downloadFilePath" download="download" target="_blank"> Download-5</a> <br />
            }
        
        </div>




    </div>
</div>

<!--<!-- Your like button code -->
<div class="fb-like"
     data-href="@url"
     data-width=""
     data-layout="standard"
     data-action="like"
     data-size="small"
     data-share="true">
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>

        $('.youtubIframe').css('height', ($(window).height() * 0.8) + 'px');

    </script>
}
