@model BMS_dotnet_WebApplication.Models.MagazineVM.RemoveMagazineVM
@{
    ViewData["Title"] = "RemoveContent";
}

<h1>Remove Content</h1>

@using (Html.BeginForm("RemoveContent", "Magazine", FormMethod.Post))
{
    <div class="form-group">
        Magazine Name: @Model.Name
    </div>
    <div class="form-group">
        <table>
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Heading</th>
                    <th>Order</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var content in Model.Contents.OrderByDescending(m => m.Category.Order))
                {
                    <tr>
                        <td>
                            @content.Category.Name
                        </td>
                        <td>
                            @content.Heading
                        </td>
                        <td>
                            @content.Index
                        </td>
                        <td>
                            <input type="checkbox" name="@content.ContentId" />
                        </td>
                    </tr>
                }

            </tbody>
        </table>


        @Html.HiddenFor(m => m.RemoveContentId)
        @Html.HiddenFor(m => m.MagazineId)
    </div>
    <button type="submit" id="btnSubmit" class="btn btn-primary">Remove Selected</button>
}


@section Scripts
{
    <script>
        var removeContent = [];
        $('input[type="checkbox"]').click(function() {
            if ($(this).prop("checked") == true) {
                removeContent.push(this.name);
            } else if ($(this).prop("checked") == false) {

                var index = removeContent.indexOf(this.name);
                if (index > -1) {
                    removeContent.splice(index, 1);
                }
            }
            console.log(removeContent.toString());
            $("#RemoveContentId").val(removeContent.toString());
        });
           
       
    </script>
}
